@model dotnet.Models.Film

@{
    ViewBag.Title = "Edit film " + @Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Edit", "Film", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <div>
        @Html.LabelFor(m => m.Name, "Name")
        @Html.EditorFor(m => m.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.Description, "Description")
        @Html.TextAreaFor(m => m.Description)
    </div>
    <div>
        @Html.LabelFor(m => m.Link, "Link")
        @Html.EditorFor(m => m.Link)
    </div>
    <div>
        @Html.LabelFor(m => m.GenreId, "Genres")
        @Html.DropDownListFor(model => model.GenreId, ViewBag.Genres as SelectList)
    </div>
    <input type="submit" value="Edit" />
}
