@model IEnumerable<dotnet.Models.Film>

@{
    ViewBag.Title = "Film list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>@Html.ActionLink("Create", "Create")</p><br />

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Genre</th>
        <th>Link</th>
        <th>Operations</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>@Html.DisplayFor(modelItem => item.Link)</td>
            <td>@Html.DisplayFor(modelItem => item.Genre.Name)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
